<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
  <mirrors>
  </mirrors>
  <servers>
  </servers>
    <profiles>
      <profile>
          <id>sonar</id>
          <activation>
              <activeByDefault>true</activeByDefault>
          </activation>
          <properties>
              <sonar.jdbc.url>
                jdbc:postgresql://jenkinssonar_sonardb_1:5432/sonar
              </sonar.jdbc.url>
              <sonar.jdbc.username>sonar</sonar.jdbc.username>
              <sonar.jdbc.password>sonar</sonar.jdbc.password>
              <!-- Optional URL to server. Default value is http://localhost:9000 -->
              <sonar.host.url>http://jenkinssonar_sonar_1:9000</sonar.host.url>
          </properties>
      </profile>
	</profiles>
  <activeProfiles>
  </activeProfiles>
</settings>

